<div class="row m0">
    <div class="form-group">
        <label translate="login.ou.form.organization">Select the organization:</label>

        <ui-select ng-model="selection.organization"
                   name="organizationSelect"
                   on-select="selectOrganization()"
                   theme="selectize">

            <ui-select-match placeholder="{{login.ou.form.organization.placeholder}}">
                {{$select.selected.code}}
            </ui-select-match>

            <ui-select-choices repeat="org in publicOrganizations | filter: $select.search">
                <div ng-bind-html="org.code | highlight: $select.search"></div>
                <small>
                    {{org.description}}
                </small>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
