<div ng-controller="ouManageController">
    <div>
        <h2 class="page-title">Manage Organizations</h2>

        <div class="panel panel-default panel-without-overflow">
            <div class="panel-heading" style="border-bottom-color: #a9a9a9"><b>Manage OU</b></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="ng-scope">Organization</label>
                            <ui-select ng-model="organizationSelection.selected" theme="selectize"
                                       on-select="disableEditing()"
                                       reset-search-input="false" ng-required="true" name="organizationField">
                                <ui-select-match placeholder="Select organization">
                                    {{$select.selected.code}}
                                </ui-select-match>
                                <ui-select-choices repeat="organization in organizations">
                                    <span ng-bind-html="organization.code"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="ng-scope">&nbsp</label>
                            <input type="button" ng-click="createOrganization()"
                                   class="btn btn-success center-block center-btn" value="New Organization">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-show="organizationSelection.selected != undefined &&
                                        organizationSelection.selected != null">
                        <div class="form-group">
                            <label>&nbsp</label>
                            <input type="button" ng-click="deleteOrganization()"
                                   style="margin-right: auto; margin-left: auto"
                                   class="btn btn-danger center-block center-btn" value="Delete Organization">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="organizationSelection.selected != undefined && organizationSelection.selected != null">
        <div class="panel panel-default panel-without-overflow">
            <div class="panel-heading" style="border-bottom-color: #a9a9a9"><b>OU Details</b></div>
            <div class="panel-body">
                <form id="organizationDetailsForm">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="ng-scope">Organization code</label>
                                <input type="text" ng-model="organizationSelection.selected.code"
                                       ng-disabled="disableDetails" ng-invalid="organizationSelection.selected.code == ''"
                                       class="form-control" ng-change="watchOrgCode()">
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="ng-scope">Organization description</label>
                                <textarea rows="3" ng-disabled="disableDetails"
                                          type="text" name="orgDescription"
                                          class="form-control"
                                          ng-model="organizationSelection.selected.description"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="datepicker">
                                    <label>Valid from:</label>
                                    <a id="orgValidFrom" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                       data-target="#" href="#" required>
                                        <div class="input-group">
                                            <div class="form-control" data-ng-model="organizationSelection.selected.validFrom">
                                                 {{organizationSelection.selected.validFrom | date:"dd/MM/yyyy"}}
                                            </div>
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datepicker data-ng-model="organizationSelection.selected.validFrom"
                                                        data-datetimepicker-config="{ dropdownSelector: '#orgValidFrom' }"
                                                        ng-required="true"></datepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="datepicker">
                                    <label>Valid from:</label>
                                    <a id="orgValidTo" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                       data-target="#" href="#" required>
                                        <div class="input-group">
                                            <div class="form-control" data-ng-model="organizationSelection.selected.validTo">
                                                {{organizationSelection.selected.validTo | date:"dd/MM/yyyy"}}
                                            </div>
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-calendar"></i>
                                            </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datepicker data-ng-model="organizationSelection.selected.validTo"
                                                    data-datetimepicker-config="{ dropdownSelector: '#orgValidTo' }"
                                                    ng-required="true"></datepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pull-right">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="!canEdit">
                            <div class="form-group" style="margin-top: 15px">
                                <label>&nbsp</label>
                                <input type="button" ng-click="editOrganization()"
                                       class="btn btn-info center-block center-btn" value="Edit">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="canEdit">
                            <div class="form-group">
                                <label>&nbsp</label>
                                <input type="button" ng-click="saveOrganization()" style="margin-top: 15px"
                                       ng-disabled="organizationSelection.selected.code == ''"
                                       class="btn btn-success center-block" value="Save">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="canEdit
                                     && organizationSelection.selected.name != ''">
                            <div class="form-group">
                                <label>&nbsp</label>
                                <input type="button" ng-click="back()" style="margin-left: inherit; margin-top: 15px"
                                       class="btn btn-warning center-block" value="Back">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-without-overflow" ng-show="organizationSelection.selected != undefined
                        && organizationSelection.selected != null">
        <div class="panel-heading" style="border-bottom-color: #a9a9a9"><b>OU Perspectives</b></div>

        <div class="panel-body">
            <div class="col-md-12">

                <div class="row">
                    <ul class="nav nav-tabs" role="tablist" style="float: left; border-bottom: 0">
                        <li role="presentation" ng-repeat="perspective in organizationSelection.selected.perspectives"
                            ng-class="{'active':$index == (organizationSelection.selected.perspectives.length - 1)}">
                            <a ng-href="#{{'perspective'+$index}}" aria-controls="{{perspective.name}}" role="tab"
                               data-toggle="tab">{{perspective.name}}</a></li>
                    </ul>

                    <span>
                        <ul class="nav nav-tabs">
                            <li id="add" role="presentation">
                                <a ng-href="#{{'perspective'+ (organizationSelection.selected.perspectives.length - 1)}}"
                                   data-toggle="tab" ng-click="addPerspective()" role="tab" id="add-btn"
                                   style="background-color: #e0e0e0 !important; color:#555 !important">+</a>

                            </li>
                        </ul>
                    </span>
                </div>

                <div class="row">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="{{'perspective'+$index}}"
                             ng-repeat="perspective in organizationSelection.selected.perspectives"
                             ng-class="{'active':$index == (organizationSelection.selected.perspectives.length - 1)}">

                            <div class="col-md-12" ng-if="perspective.name != 'new'">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
                                     ng-if="perspective.items != undefined || perspective.items != null">
                                    <div class="form-group">
                                        <ou-tree-view ou-tree-data="perspective.items" is-ou-manage="true"
                                                      edit-url="editUrl">
                                        </ou-tree-view>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12"
                                     ng-if="perspective.items == undefined || perspective.items == null">

                                    <div class="form-group">
                                        <label class="ng-scope">&nbsp</label>
                                        <input type="button" ng-click="editPerspective()"
                                               class="btn btn-info center-block" value="Edit Perspective">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" ng-if="perspective.name == 'new'">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="ng-scope">Perspective name</label>
                                                <input type="text" class="form-control" ng-model="newPerspectiveName">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-success center-block"
                                                       ng-disabled="newPerspectiveName == ''"
                                                       ng-click="saveNewPerspective(newPerspectiveName, $index)"
                                                       value="Save">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>