<div class="panel panel-default">
    <form class="form" role="form">

        <div class="panel-heading">
            <h4>Organizational Unit</h4>
        </div>

        <div class="panel-body">

            <div ng-class="className()">
                <div class="row m0">
                    <div class="form-group">
                        <label> Selecteaza organizatie : </label>

                        <ui-select on-select="showPerspectiveSelect()" name="organizationSelect"
                                   ng-model="organization.selected"
                                   theme="selectize">

                            <ui-select-match placeholder="Organizatie">
                                {{$select.selected.name}}
                            </ui-select-match>

                            <ui-select-choices repeat="org in repetitionTypes | filter: $select.search">
                                <div ng-bind-html="org.name | highlight: $select.search"></div>
                                <small>
                                    Name: {{org.name}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="row m0" ng-show="showDropDownForPerspective">
                    <div class="form-group">
                        <label class="my-md-label"> Selecteaza perspectiva : </label>
                        <ui-select on-select="showTreePerspective()" name="perspectiveSelect"
                                   ng-model="perspective.selected" theme="selectize">

                            <ui-select-match placeholder="Perspectiva">
                                {{$select.selected.name}}
                            </ui-select-match>

                            <ui-select-choices repeat="scheduledJob in repetitionTypes | filter: $select.search">
                                <div ng-bind-html="scheduledJob.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <script type="text/ng-template" id="items_renderer.html">
                    <div ui-tree-handle>
                        <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                        </a>
                        {{item.code}}
                        <a class="pull-right btn btn-primary btn-xs" data-nodrag
                           ng-click='item.items.push({title:"New", validFrom:"", validTo:"", items:[]})'
                           ng-touch="updateOuInformation(item)"
                           style="margin-right: 8px;">
                            <span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                    <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
                        <li ng-repeat="item in item.items" ui-tree-node
                            ng-include="'items_renderer.html'" collapsed="false"></li>
                    </ol>
                </script>

                <div class="thumbnail ng-pristine ng-valid ui-droppable ng-touched"
                     style="min-height: 310px; max-height: 400px; overflow-y: scroll" ng-show="isPerspectiveSelected">

                    <input type="text" class="form-control" ng-model="pattern">

                    <div ui-tree="options">
                        <ol ui-tree-nodes ng-model="testListForUi">
                            <li ng-click="updateOuInformation(item)" ng-repeat="item in testListForUi" ui-tree-node
                                ng-include="'items_renderer.html'" data-nodrag collapsed="false"></li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-show="isTreePerspectiveSelected">

                <div class="row m0">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Selecteaza parinte : </label>

                            <ui-select name="parentSelected" ng-model="parent.selected" theme="selectize">

                                <ui-select-match ng-model="parent" placeholder="Parinte">
                                    {{$select.selected.name}}
                                </ui-select-match>

                                <ui-select-choices repeat="par in repetitionTypes | filter: $select.search">
                                    <div ng-bind-html="par.name | highlight: $select.search"></div>
                                    <small>
                                        Name: {{par.name}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="row m0">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Organizational Unit Code :</label>
                            <input type="text" class="form-control" ng-model="ou">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Organizational Unit Description :</label>
                            <input type="text" class="form-control" ng-model="description">
                        </div>
                    </div>
                </div>

                <div class="row m0">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Valid from :</label>
                            <input type="date" class="form-control" ng-model="validFrom" ng-readonly="isView">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Valid to :</label>
                            <input type="date" class="form-control" ng-model="validTo" ng-readonly="isView">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="separator mt5 mb15"></div>
                    </div>
                </div>

                <div class="row m0">
                    <div class="col-md-12 text-right mb15">

                        <button class="btn btn-success"
                                ng-click="saveOu()">
                            Save
                        </button>
                    </div>
                </div>

                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#functions" aria-controls="functions"
                                                                  role="tab"
                                                                  data-toggle="tab">Functions</a></li>
                        <li role="presentation"><a href="#accounts" aria-controls="accounts" role="tab"
                                                   data-toggle="tab">Accounts</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="functions">
                            <div class="col-md-12" ng-include="functionsTpl"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="accounts">
                            <div class="col-md-12" ng-include="accountsTpl"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>