<div class="panel panel-default">
    <form class="form" role="form">

        <div class="panel-heading">
            <h4>Organizational Unit</h4>
        </div>

        <div class="panel-body">

            <div ng-class="className()">
                <div class="row m0">
                    <div class="form-group">
                        <label> Selecteaza organizatie : </label>

                        <ui-select on-select="showPerspectiveSelect()" name="organizationSelect"
                                   ng-model="organization.selected" theme="selectize">

                            <ui-select-match placeholder="Organizatie">
                                {{$select.selected.name}}
                            </ui-select-match>

                            <ui-select-choices
                                    repeat="org in organizationalUnits | filter: $select.search">
                                <div ng-bind-html="org.name | highlight: $select.search"></div>
                                <small>
                                    Name: {{org.description}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="row m0" ng-show="showDropDownForPerspective">
                    <div class="form-group">
                        <label class="my-md-label"> Selecteaza perspectiva : </label>
                        <ui-select on-select="showTreePerspective()" name="perspectiveSelect"
                                   ng-model="perspective.selected" theme="selectize">

                            <ui-select-match placeholder="Perspectiva">
                                {{$select.selected.code}}
                            </ui-select-match>

                            <ui-select-choices
                                    repeat="perspective in organization.selected.items | filter: $select.search">
                                <div ng-bind-html="perspective.code | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="admin-menu-holder">
                    <div ng-show="isPerspectiveSelected" ou-tree-view ou-tree-data="perspective.selected"
                         is-ou-manage="false"></div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" ng-show="isTreePerspectiveSelected">

                <div class="row m0">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Organizational Unit Parinte :</label>
                            <input type="text" name="ouCode" class="form-control" ng-model="parentOu.code" readonly/>
                        </div>
                    </div>
                </div>

                <div class="row m0">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Organizational Unit Code :</label>
                            <input type="text" name="ouCode" class="form-control" ng-model="code" ng-readonly="isView">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Organizational Unit Description :</label>
                            <input type="text" class="form-control" ng-model="description" ng-readonly="isView">
                        </div>
                    </div>
                </div>

                <div class="row m0">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Valid from :</label>
                            <input type="date" class="form-control" ng-model="validFrom" ng-readonly="isView">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> Valid to :</label>
                            <input type="date" class="form-control" ng-model="validTo" ng-readonly="isView">
                        </div>
                    </div>
                </div>

                <div class="row m0" ng-show="isEditingAnOu">
                    <p style="font-size: 12px; text-align: center;">
                        <b>Acum editati Organizational Unit: {{code}}</b>
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="separator mt5 mb15"></div>
                    </div>
                </div>

                <div class="row m0">
                    <div class="col-md-12 text-right mb15">

                        <button class="btn btn-info"
                                ng-show="isView"
                                ng-click="editOrganizationalUnit()">
                            Edit
                        </button>
                        <button class="btn btn-success"
                                ng-show="isEdit"
                                ng-click="saveOrganizationalUnit()">
                            Save
                        </button>
                        <button class="btn btn-warning"
                                ng-show="!isView"
                                ng-click="backOrganizationalUnit()">
                            Back
                        </button>
                    </div>
                </div>

                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#functions" aria-controls="functions" role="tab"
                               data-toggle="tab">Functions</a></li>
                        <li role="presentation">
                            <a href="#accounts" aria-controls="accounts" role="tab"
                               data-toggle="tab">Accounts</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="functions">
                            <div class="col-md-12" ng-include="functionsTpl"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="accounts">
                            <div class="col-md-12" ng-include="accountsTpl"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>