<div>
    <div class="panel panel-default">
        <form class="form" role="form">
            <div class="panel-heading">
                <h4>Functions</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div ng-show="!isAdd"
                             class="list-group" style="max-height: 500px; overflow: auto">
                            <div class="list-group-item"
                                 style="cursor: pointer; border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                                 ng-repeat="function in functions"
                                 ng-click="selectFunction(function)"
                                 ng-class="{active:isSelected(function)}">
                                {{function.code}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-4">
                        <div class="row m0">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group"
                                     ng-class="{'has-success': formCreateOrEdit.selectedFunction_code.$dirty && formCreateOrEdit.selectedFunction_code.$valid, 'has-error': formCreateOrEdit.selectedFunction_code.$dirty && formCreateOrEdit.selectedFunction_code.$invalid}">

                                <label>Function Code</label>
                                    <input type="text" name="selectedFunction_code" class="form-control" ng-model="selectedFunction.code" ng-readonly="isView" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group"
                                     ng-class="{'has-success': formCreateOrEdit.selectedFunction_desc.$dirty && formCreateOrEdit.selectedFunction_desc.$valid, 'has-error': formCreateOrEdit.selectedFunction_desc.$dirty && formCreateOrEdit.selectedFunction_desc.$invalid}">

                                <label>Function Description</label>
                                    <input type="text" name="selectedFunction_desc" class="form-control" ng-model="selectedFunction.description" ng-readonly="isView" required>
                                </div>
                            </div>
                        </div>
                        <div class="row m0">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group"  ng-hide="isView"
                                     ng-class="{'has-success': formCreateOrEdit.selectedFunction_validFrom.$dirty && formCreateOrEdit.selectedFunction_validFrom.$valid, 'has-error': formCreateOrEdit.selectedFunction_validFrom.$dirty && formCreateOrEdit.selectedFunction_validFrom.$invalid}">

                                    <label>Valid from</label>

                                    <p class="input-group">
                                        <input type="text" name="selectedFunction_validFrom" class="form-control"
                                               is-open="opened_validFrom" placeholder="Valid from" close-text="Close"
                                               datepicker-popup="{{dateOptions.format}}" datepicker-options="dateOptions"
                                               ng-model="selectedFunction.validFrom" ng-required="true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open_validFrom($event)">
                                            <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </p>

                                    <div ng-show="formCreateOrEdit.selectedFunction_validFrom.$dirty && formCreateOrEdit.selectedFunction_validFrom.$invalid">
                                        <p class="help-block"
                                           ng-show="formCreateOrEdit.selectedFunction_validFrom.$error.required">
                                            Acest camp este obligatoriu
                                        </p>
                                    </div>
                                </div>
                                <div class="dropdown" ng-hide="!isView">

                                    <label><b>Valid from:</b></label>

                                    <div class="form-control" readonly>
                                        {{selectedFunction.validFrom | date: dateOptions.format}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group" ng-hide="isView"
                                     ng-class="{'has-success': formCreateOrEdit.selectedFunction_validTo.$dirty && formCreateOrEdit.selectedFunction_validTo.$valid, 'has-error': formCreateOrEdit.selectedFunction_validTo.$dirty && formCreateOrEdit.selectedFunction_validTo.$invalid}">

                                    <label>Valid to</label>

                                    <p class="input-group">
                                        <input type="text" name="selectedFunction_validTo" class="form-control"
                                               is-open="opened_validTo" placeholder="Valid to" close-text="Close"
                                               datepicker-popup="{{dateOptions.format}}" datepicker-options="dateOptions"
                                               ng-model="selectedFunction.validTo" ng-required="true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open_validTo($event)"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </p>

                                    <div ng-show="formCreateOrEdit.selectedFunction_validTo.$dirty && formCreateOrEdit.selectedFunction_validTo.$invalid">
                                        <p class="help-block"
                                           ng-show="formCreateOrEdit.selectedFunction_validTo.$error.required">
                                            Acest camp este obligatoriu
                                        </p>
                                    </div>
                                </div>
                                <div class="dropdown" ng-hide="!isView">

                                    <label><b>Valid to:</b></label>

                                    <div class="form-control" readonly>
                                        {{selectedFunction.validTo | date: dateOptions.format}}
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row m0">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <!-- empty div fr alignment -->
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="checkbox-container">
                                    <input id="active" type="checkbox" name="active"
                                           ng-disabled="isView"
                                           ng-model="selectedFunction.active"
                                           class="mr5">
                                    <label class="custom-select" for="active">Active</label>
                                </div>
                            </div>
                        </div>
                        <div class="row m0">
                            <div class="col-lg-12">
                                <div class="separator mt5 mb15"></div>
                            </div>
                        </div>
                        <div class="row m0">
                            <div class="col-md-12 text-right mb15">

                                <button class="btn btn-primary"
                                        ng-show="isView"
                                        ng-click="createFunction()">
                                    Create
                                </button>
                                <button class="btn btn-info"
                                        ng-show="isView"
                                        ng-click="editFunction()">
                                    Edit
                                </button>
                                <button class="btn btn-success"
                                        ng-show="!isView"
                                        ng-click="saveFunction()">
                                    Save
                                </button>
                                <button class="btn btn-danger"
                                        ng-show="isView || isEdit"
                                        ng-click="showConfirm($event)">
                                    Delete
                                </button>
                                <button class="btn btn-warning"
                                        ng-show="!isView"
                                        ng-click="backFunction()">
                                    Back
                                </button>
                            </div>
                        </div>
                        <div class="row m0">
                            <div class="col-md-12" ng-include="functionPermissionsTpl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>